# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Francesco~1\bootstrap-5.0.0-alpha1-examples\bootstrap-5.0.0-alpha1-examples\cover\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
